            /*DOCUMENTO CSS PARA HOME*/

/*DEV FRONT : GENESIS ESTEVES LABENUMERO:2136262
ESTRUTURA CSS 
1 HEADER 
2 MAIN 
3 FOOTER  
4 EXTRAS 
*/





/*HEADER*/

.menu {
    text-align: end;
    margin-top: 0px;
    padding-right: 50px;
    background-color: chartreuse;
}

/*MAIN*/


/*FOOTER*/
.rodape img{
    max-width: 50px;
    
}
footer.rodape {
    text-align: center;
}

footer.rodape {
    background-color: aqua;
}